.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.checkbox{
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
.invisible-checkbox{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.visible-checkbox{
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  opacity: 0.7;
  border-radius: 3px;
  transition: border 0.3s linear;
}

.invisible-checkbox:checked + .visible-checkbox{
  background-image: url('https://code.s3.yandex.net/web-code/tick.svg');
  border: 2px solid blue;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, 0.4);
}

.invisible-checkbox:focus + .visible-checkbox{
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, 0.4);
}

.invisible-checkbox:hover + .visible-checkbox{
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, 0.4);
}

.invisible-checkbox:disabled + .visible-checkbox{
  border: 2px solid grey;
}

.invisible-checkbox:disabled:checked + .visible-checkbox{
  background-image: url('https://code.s3.yandex.net/web-code/tick_grey.svg');
}